<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="gx5_to_base_link" args="0 0 0 0 0 0 gx5_link base_link" />

  <!-- Run the EKF Localization node -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <rosparam command="load" file="$(find gps_imu_toolkit)/params/config_for_turtlebot.yaml"/>
  </node>
</launch>